/* #fullpage {
  height: 100vh;
} */

@font-face {
  font-family: RougeScript;
  src: local("Rouge Script"), url("assets/fonts/rougescript-nama.ttf") format("truetype");
}

@font-face {
  font-family: "Unicode Optima";
  src: local("Unicode Optima"),
        url("assets/fonts/unicode-optima-konten.ttf") format("truetype");
}

@font-face {
  font-family: Digital7;
  src: local("Digital-7 Monospace"),
       url("assets/fonts/digital-7-mono.ttf");
}

@font-face {
  font-family: NotoSerifDisplay;
  src: local("Noto Serif Display"),
       url("assets/fonts/NotoSerifDisplay-Light.ttf");
}

@-ms-viewport {
  width: device-width;
}

body {
  font-family: NotoSerifDisplay, "Helvetica Neue", Georgia, sans-serif;
  color: #785F38;
  background-color: #F7F1EF;
}

.section {
  text-align: center;
}

.container {
  padding: 10% 25px 0 25px;
}

.fp-tooltip {
  background: rgba(0,0,0,0.5);
  border-radius: 3px;
  padding: 5px;
}

/* Background Animations */

#bg-placeholder {
  position: absolute;
  z-index: 0;
  transition: all 1s;
  top: 0;
  bottom: 0;
}

#bg-placeholder2 {
  position: absolute;
  z-index: -2;
  transition: all 1s;
  top: 0;
  bottom: 0;
  background: url('assets/bg/top.png') no-repeat, url('assets/bg/bottom.png') no-repeat;
  background-position: top, bottom;
  background-size: 100% auto, 100% auto;
}

/*
 * Two background placeholders: bg-placeholder and bg-placeholder2
 * bg -- bg-placeholder
 * bg2 -- bg-placeholder2
 *
 * Two states:
 * - one: where bg is in place, bg2 is hidden
 * - two: where bg is hidden, bg2 is visible
 */
.bg-one {
  background: url("assets/bg/top-left.png") no-repeat top left, url("assets/bg/bottom-right.png") no-repeat bottom right;
  background-size: 300px, 300px;
  left: 0;
  right: 0;
  /* height: 100vh; */
  background-color: #F7F1EF;
  opacity: 1;
}

.bg-two {
  /* background-position: -50% bottom, 150% top; */
  opacity: 0;
  transition-delay: 1.5s;
}

.bg2-one {
  opacity: 0;
  left: 0;
  right: 0;
  transition-delay: 1.5s;
}

.bg2-two {
  opacity: 1;
  transition-delay: 0;
}

.bg2-three {
  background-position: 0 -800px;
  transition-delay: 0;
}

/* end of Background Animations */

#img-za {
  margin: 0 auto;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 87vw;
  transition: opacity 2s;
  opacity: 0;
}

#img-za.img-seen {
  opacity: 1;
  transition-delay: 0.5s;
}

.img-undangan {
  display: block;
  margin: 0 auto;
}

@media(min-width: 768px) {
    #img-za {
      width: 650px;
      margin: 0 auto;
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
    }

    #bg-placeholder2 {
      background:
        url("assets/bg-md/top-left.png") no-repeat top left,
        url("assets/bg-md/top-right.png") no-repeat top right,
        url("assets/bg-md/bottom-left.png") no-repeat bottom left,
        url("assets/bg-md/bottom-right.png") no-repeat bottom right;
      background-size:
        30% auto, 30% auto, 30% auto, 30% auto;
    }

    .nama {
      font-size: 68px;
    }

    #arrum {
      font-size: 20px;
    }
}

/* ===================== */

/* .nama {
  font-family: RougeScript, cursive;
  font-weight: normal;
  font-size: 48px;
  color: #d4af37;
} */

[data-anchor='undangan'] {
  font-size: 1em;
}

[data-anchor="undangan"] p.small {
  margin-top: -5px;
}

.center-vertically {
  display: flex;
  align-items: center;
}

.add-v-padding, .kisah .row {
  padding-top: 10px;
  padding-bottom: 10px;
}

/* Section: Tentang */

[data-anchor='tentang'] img {
  margin-top: 10px;
  margin-bottom: 20px;
}

[data-anchor='tentang'] p {
  font-size: 0.7em;
}

@media(min-width: 768px) {
  [data-anchor='tentang'] img {
    width: 250px;
  }
}

/* Section: Info */

iframe {
  border: 0;
  margin: 0 auto;
  width: 95%;
  height: 350px;
}

[data-anchor="info"] .col-lg-6 {
  padding-top: 10px;
}

/* Section: Countdown & RSVP */

.required {
  color: red;
  font-weight: bold;
}

.savedate, #together {
    font-family: Artilla;
    font-weight: bold;
}

#timer {
  text-align: center;
  margin: 10px auto 15px auto;
  color: white;
  font-family: Digital7, monospace;
  padding: 5px 20px;
  display: table-cell;
  vertical-align: middle;
}

#timer .col-timer {
  display: inline-block;
  font-weight: bold;
  padding: 5px;
}

#timer .col-timer span.timer-val {
  font-size: 3em;
  display: block;
  margin-bottom: -15px;
}

[data-anchor="rsvp"] .container-fluid {
  padding: 10px;
  background: url("assets/wood-005.png") repeat-x top left;
  background-size: auto 50vh;
}

[data-anchor="rsvp"] .fp-tableCell {
  vertical-align: top; /* overwrite fp's default setting */
}

/*
[data-anchor="rsvp"] .fp-tableCell .fp-scroller {
background: url("assets/wood-005.png") repeat-x top left;
background-size: auto 50vh;
} */

@media (min-width: 980px) {
    #timer .col-timer span.timer-val {
      font-size: 5em;
      line-height: 1;
    }

    #timer .col-timer {
      font-size: 1.5em;
      padding: 10px;
    }
}

@media (max-width: 580px) {
  #dUndangan {
    /* font-size: 24px; */
  }
}

/* .cover {
  display: none;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: inherit;
  z-index: 3;
  border: 0.5px dashed;
  transition: all 1s;
  background: gold;
}

.cover-left:hover {
  transform: translateX(-700px);
}

.cover-right:hover {
  transform: translateX(700px);
} */
