/* #fullpage {
  height: 100vh;
} */

@font-face {
  font-family: RougeScript;
  src: local("Rouge Script"), url("assets/fonts/rougescript-nama.ttf") format("truetype");
}

@font-face {
  font-family: "Unicode Optima";
  src: local("Unicode Optima"),
        url("assets/fonts/unicode-optima-konten.ttf") format("truetype");
}

@font-face {
  font-family: Digital7;
  src: local("Digital-7 Monospace"),
       url("assets/fonts/digital-7-mono.ttf");
}

@font-face {
  font-family: Artilla;
  src: local("Artilla"), url("assets/fonts/artilla.ttf");
}
/*
@font-face {
  font-family: Adlery;
  src: local("Adlery"), url("assets/fonts/adlery.ttf");
} */

@-ms-viewport {
  width: device-width;
}

body {
  font-family: "Unicode Optima", Georgia, sans-serif;
  color: #3f704d;
}

.section {
  text-align: center;
}

.container {
  padding: 10% 25px 0 25px;
}

.fp-tooltip {
  background: rgba(0,0,0,0.5);
  border-radius: 3px;
  padding: 5px;
}

/* Background Animations */

#bg-placeholder {
  position: absolute;
  z-index: 0;
  transition: all 1s;
  top: 0;
  bottom: 0;
}

#bg-placeholder2 {
  position: absolute;
  z-index: -2;
  transition: all 1s;
  top: 0;
  bottom: 0;
}

.bg-one {
  background: url("assets/bg-bottomleft.png") no-repeat bottom left, url("assets/bg-topright.png") no-repeat top right;
  background-size: 80px, 80px;
  left: 0;
  right: 0;
  height: 100vh;
}

.bg-two {
  background-position: -50% bottom, 150% top;
  transition-delay: 1.5s;
}

.bg2-one {
  background: url('assets/background-1.png') repeat-x;
  background-position: 0 -800px;
  background-size: 60%;
  left: 0;
  right: 0;
  transition-delay: 1.5s;
}

.bg2-two {
  background-position: 0 0;
  transition-delay: 0;
}

.bg2-three {
  background-position: 0 -800px;
  transition-delay: 0;
}

/* end of Background Animations */

#img-za {
  margin: 0 auto;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 87vw;
  transition: opacity 2s;
  opacity: 0;
}

#img-za.img-seen {
  opacity: 1;
}

@media(min-width: 768px) {
    #img-za {
      width: 650px;
      margin: 0 auto;
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
    }

    .bg-one {
      background-size: 150px, 150px;
    }

    .nama {
      font-size: 68px;
    }

    #arrum {
      font-size: 20px;
    }
}

@media(min-width: 980px) {

  .bg-one {
    background-size: 200px, 200px;
  }

}

/* ===================== */

.nama {
  font-family: RougeScript, cursive;
  font-weight: normal;
  font-size: 48px;
  color: #d4af37;
}

[data-anchor='undangan'] {
  font-size: 1em;
}

[data-anchor="undangan"] p.small {
  margin-top: -5px;
}

/* Section: Info */

iframe {
  border: 0;
  margin: 0 auto;
  width: 95%;
  height: 350px;
}

[data-anchor="info"] .col-lg-6 {
  padding-top: 10px;
}

/* Section: Countdown & RSVP */

.savedate {
    font-family: Artilla;
    font-weight: bold;
}

#timer {
  text-align: center;
  margin: 10px auto 15px auto;
  color: white;
  font-family: Digital7, monospace;
  /* background: url("assets/wooden.jpg") no-repeat; */
  padding: 5px 20px;
}

#timer .col-timer {
  display: inline-block;
  font-weight: bold;
  padding: 5px;
}

#timer .col-timer span.timer-val {
  font-size: 3em;
  display: block;
  margin-bottom: -15px;
}

[data-anchor="rsvp"] .container {
  padding: 10px;
}

[data-anchor="rsvp"] .fp-tableCell {
  vertical-align: top; /* overwrite fp's default setting */
}

[data-anchor="rsvp"] .fp-tableCell .fp-scroller {
  background: url("assets/wood-005.png") repeat-x top left;
  background-size: auto 50vh;
}

[data-anchor="rsvp"] .fp-tableCell .col-12 {
  display: table-cell;
  vertical-align: middle;
  text-align: center;
  margin: auto;
}

@media (min-width: 980px) {
    #timer .col-timer span.timer-val {
      font-size: 5em;
      line-height: 1;
    }

    #timer .col-timer {
      font-size: 1.5em;
      padding: 10px;
    }
}

@media (max-width: 580px) {
  #dUndangan {
    /* font-size: 24px; */
  }
}

/* .cover {
  display: none;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: inherit;
  z-index: 3;
  border: 0.5px dashed;
  transition: all 1s;
  background: gold;
}

.cover-left:hover {
  transform: translateX(-700px);
}

.cover-right:hover {
  transform: translateX(700px);
} */
