#arrum {
  opacity: 0;
}

#arrum.animated {
  opacity: 1;
}

[data-anchor="undangan"] p {
  opacity: 0;
}

[data-anchor="undangan"] p.animated {
  opacity: 1;
}

/* body{
  background-color: #111;
  font-family: Signika Negative, Asap, sans-serif;
  color:white;
  overflow:hidden;
} */

.dot{
  width:10px;
  height:10px;
  position:absolute;
  background: url("assets/daun.png") no-repeat;
  background-size: 100% 100%;
  opacity: 0.5;
}
